#horizonral {
	display: block;
	padding-left: 100px;
}

ul {
	list-style: none;
	margin: 10;
	padding: 10;
	overflow: hidden;
}

li {
	float: right;
}

li a:link{
    display: inline;
    padding: 8px;
    background-color: transparent;
}

a:link {
    color: beige;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: beige;
    background-color: green;
    text-decoration: none;
}
a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: gray;
    text-decoration: underline;
}

.div{ background-color: beige;
 color: green;
 text-align: right;
 font-size: 20px;
 font-family: times;
 width: 100%;
 display: inline-block;
}

.paragraph {
	float: right;
}

img {
	float: absolute;

}