body {
    color: black;
    background-color: #white;
    margin: 1em 2em 3em 4em;
}

.nav-link {
  float: right;
  margin-right: 1.5em;
  font-size: 25px;  
  position: relative;
  top: -70px;
}

ul{
    list-style: none;
}

li a:link{
    display: block;
    padding: 8px;
    background-color: #transparent;
}

a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: orange;
    background-color: gray;
    text-decoration: underline;
}

h1{
    text-align:left;
    margin-right: ;
    position: relative;
    left: 20px;
    font-size: 25px;
}

header{
    border: 15px dotted yellow;
}

.paragraph{
    font-size: 20px;
    font-family: times;   
    padding: -3em;
    width: 40%;
}


#image-gallery img{
  width: 40 %;
  margin: 0 auto;
  position: relative;   
  right: 1  00px;
  top: -500px;
  float: right; 
  display: inline-block;
  clear: both;
  align-content: center;
}

#lav{
    float: right;
    position: relative;
    top: -500px;
    right: -5px;
    align-content: center;
}



p.clear{
    clear: both;
}

footer{
    text-align: center;
    position: relative; 
    bottom: 550px;
}

h3{
    text-align: center;
    display: block;
    width: 50%;
    color: green;
}

p#returnmessage{
    position: relative;
    right: 50px;
}



p.comments{
    width: 40%;


}
